@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Raleway:300,700");
html, body, div, span, h1, h2, h3, h4, p, a, img, strong, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, tbody, tfoot, thead, tr, th, td, article, footer, header, hgroup, menu, nav,
section, audio {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

body {
  font: 100% Helvetica, sans-serif;
  color: #333; }

.footer {
  color: #009; }

nav ul {
  margin: 0;
  padding: 0;
  list-style: none; }

nav li {
  display: inline-block; }

nav a {
  display: block;
  padding: 6px 12px;
  text-decoration: none; }

.box {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

.Bigbox {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  border-radius: 30px; }

.message, .success, .error, .warning {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333; }

.success {
  border-color: green; }

.error {
  border-color: red; }

.warning {
  border-color: yellow; }
