html, body, div, span, h1, h2, h3, h4, p, a, img, strong,  ul, li,
fieldset, form, label, legend, table, tbody, tfoot, thead,
tr, th, td, article, footer, header, hgroup, menu, nav,
section, audio {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
