$ff:  Helvetica, sans-serif;
$primary-color: #333;
$footers: #009;


@import url(font-awesome.min.css);
@import url("http://fonts.googleapis.com/css?family=Raleway:300,700");
@import 'reset';


body {

  font: 100% $ff;
  color: $primary-color;

}

.footer {

	color: $footers;

}



nav {

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li { display: inline-block; }

  a {
    display: block;
    padding: 6px 12px;
    text-decoration: none;
  }
}


@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

.box { @include border-radius(10px); }
.Bigbox { @include border-radius(30px); }


.message {
  border: 1px solid #ccc;
  padding: 10px;
  color: $primary-color;
}

.success {
  @extend .message;
  border-color: green;
}

.error {
  @extend .message;
  border-color: red;
}

.warning {
  @extend .message;
  border-color: yellow;
}
